

<div class="topnav">
  <div class="appheading">
   
  <div class="row">
   <div class="col-md-2" id="home"><span class="glyphicon glyphicon-home"> Home</span>   </div>  
    <div class="col-md-8"><h3>Retail Management</h3></div>
      <div class="col-md-2" id="logout"><span class="glyphicon glyphicon-log-out"> Logout</span>   </div>
    </div>  
</div>

</div>
  
  <div class="row">
    <div class="leftcolumn">
  </div>
    <div class="leftcolumn">
         <app-list-shops></app-list-shops>
     </div>
    <div class="rightcolumn ">
      
          <br>
      <h4>Create Shop</h4> 
      <app-create-shop></app-create-shop>
    </div>
   
   
  </div>
  
  
